@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'BlocpartyRegular';
    src: url('./fonts/BlocpartyRegular.woff') format('woff'),
      url('./fonts/BlocpartyRegular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'BlocpartyOutlineRegular';
    src: url('./fonts/BlocpartyOutlineRegular.woff') format('woff'),
      url('./fonts/BlocpartyOutlineRegular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Gamer';
    src: url('./fonts/Gamer.woff') format('woff'),
      url('./fonts/Gamer.woff2') format('woff2');
  }
  @font-face {
    font-family: 'blzee';
    src: url('./fonts/blzee.woff') format('woff'),
      url('./fonts/blzee.woff2') format('woff2');
  }
  @font-face {
    font-family: 'piantato';
    src: url('./fonts/Piantato.woff') format('woff'),
      url('./fonts/Piantato.woff2') format('woff2');
  }
  @font-face {
    font-family: 'sunset';
    src: url('./fonts/Sunset.woff') format('woff'),
      url('./fonts/Sunset.woff2') format('woff2');
  }

  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @keyframes movement {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-100vw, -100vh);
    }
    50% {
      transform: translate(-100vw, 0);
    }
    75% {
      transform: translate(0, -100vh);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
}

@layer utilities {
  .blink {
    animation: blink-animation 1.4s steps(5, start) infinite;
    -webkit-animation: blink-animation 1.4s steps(5, start) infinite;
  }
  .open-section {
    max-width: 2000px;
  }
  .closed-section {
    max-width: 80px;
  }
  .section-container {
    width: calc(100% - 240px);
    overflow: hidden;
  }
  .bookmark {
    height: 100%;
    width: 90px;
  }
  .bookmark-link {
    text-orientation: mixed;
    writing-mode: vertical-rl;
  }
}
