@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'BowlbyOneSC';
    font-weight: 400;
    src: url('../public/fonts/BowlbyOneSC.woff') format('woff'),
      url('../public/fonts/BowlbyOneSC.woff2') format('woff2');
  }
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer utilities {
  .perspective {
    perspective: 2000px;
  }
  .snap-container {
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100%;
  }
  .snap-item {
    scroll-snap-align: start;
  }
}
